/* General Styles */
body {
  margin: 0;
  font-family: monospace, Arial, sans-serif;
}

/* Navbar Styles */
#navbar {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 50px 0;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navbar ul li {
  display: inline;
  margin: 0 10px;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: aqua;
}

/* Welcome Section Styles */
#welcome-section {
  /*height: 100vh;*/
  background-color: #f0f0f0;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.welcome-container {
  text-align: center;
  max-width: 600px;
  margin-bottom: 50px;
}

#welcome-section img {
  width: 12.5rem;
  height: auto;
  border-radius: 10%;
}

h2 {
  color: #555;
}

/* Projects Section Styles */
#projects {
  padding: 50px 0;
}

.project-tile {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 600px;
}

.project-tile h3 {
  margin-top: 0;
}

.project-tile p {
  margin-bottom: 10px;
}

.project-tile a {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.project-tile a:hover {
  background-color: #555;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.social-links img {
  width: 30px;
  height: 30px;
}

#linkedin {
  color: #0a66c2;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {

  /* Navbar Styles */
  #navbar ul li {
    display: block;
    margin: 10px 0;
  }

  /* Welcome Section Styles */
  #welcome-section {
    padding: 50px 0;
  }

  .welcome-container h1 {
    font-size: 24px;
  }

  /* Projects Section Styles */
  .project-tile {
    padding: 15px;
    margin-bottom: 10px;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  /* Navbar Styles */
  #navbar ul li {
    margin: 0 20px;
  }

  /* Welcome Section Styles */
  #welcome-section {
    padding: 100px 0;
  }

  .welcome-container h1 {
    font-size: 36px;
  }

  /* Projects Section Styles */
  .project-tile {
    padding: 20px;
    margin-bottom: 20px;
  }
}

/* Accessibility Improvements */
a:focus,
button:focus {
  outline: 2px solid #fff; /* Visible focus style */
  outline-offset: 3px; /* Offset to prevent clipping */
}

/* Contrast Ratios */
body {
  color: #000; /* Default text color */
}

.project-tile,
footer {
  color: #fff; /* Set text color for elements with light background */
}

